.page {
	margin: 0;
	padding: 1em 0;
	font-size: 1.2em;
	font-family: sans-serif;
}

.page__content {
	max-width: 890px;
	margin: 0 auto;
	box-shadow: 0 0 8px 0 rgb(128, 128, 128);
}

@media screen and (max-width: 400px) {
	.page__content {
		padding: 1vw;
	}
}

.header,
main,
footer {
	display: flow-root;
}

p {
	box-sizing: content-box;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

/* Header */
.intro {
	display: block;
	min-width: 350px;
	width: 100%;
	height: 300px;
	background-image: url('../img/ai-sucks-80.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 1em;
}

.header__heading {
	font-size: 3em;
	margin: 0.3em;
	text-align: center;
}

.faq__title {
	cursor: pointer;
	user-select: none;
	line-height: 2;
	padding: 0 1em;
	background-color: rgb(222, 255, 203);
}

.faq strong,
.faq p {
	display: block;
	padding-left: 1.9em;
}

.faq strong:first-of-type {
	margin-top: 0.5em;
}

/* Main */
h2 {
	text-align: center;
	box-sizing: content-box;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

h3 {
	box-sizing: content-box;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

h4 {
	margin-bottom: 0.5em;
	font-weight: normal;
	box-sizing: content-box;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

.list {
	margin: 0;
	margin-bottom: 1em;
}

li {
	line-height: 1.4;
}

.list__item_link_yt {
	margin-left: -5px;
	padding-left: 0.5ch;
}

.list__item_link_yt::marker {
	content: url('../img/yt-favicon.ico');
}

/* Send more */
.send-more {
	padding: 1em 0;
	background-color: rgb(222, 255, 203);
}

.send-more > p {
	margin-top: 0;
}

.send-more > p:last-of-type {
	margin-bottom: 0;
}

.footer {
	text-align: center;
}

.footer {
	padding: 1em 0;
}

.footer > p {
	font-size: 0.8em;
	margin: 1em 0;
}

/* Overwrite */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	left: 0;
}