body {
	margin: 0;
	font-size: 1.2em;
	font-family: sans-serif;
}

main ul {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	list-style: none;
}

li {
	line-height: 1.4;
}

header,
main,
footer {
	max-width: 80ch;
	margin: 0 auto;
	margin-bottom: 2em;
}

h1 {
	font-size: 3em;
	margin: 0.3em;
}

h2 {
	text-align: center;
}

h4 {
	margin-bottom: 0.5em;
	font-weight: normal;
}

p {
	margin-top: 0;
}

.header__heading,
.footer {
	text-align: center;
}