.page {
	margin: 0;
	padding: 1em 0;
	font-size: 1.2em;
	font-family: sans-serif;
}

.page__content {
	max-width: 80ch;
	margin: 0 auto;
	padding: 0 1em;
	box-shadow: 0 0 8px 0 rgb(128, 128, 128);
}

.faq__title {
	cursor: pointer;
	user-select: none;
	line-height: 2;
	padding: 0 1em;
	background-color: rgb(222, 255, 203);
}

.faq strong,
.faq p {
	display: block;
	padding-left: 1.9em;
}

.faq strong:first-of-type {
	margin-top: 0.5em;
}

.list {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	list-style: none;
}

li {
	line-height: 1.4;
}

.header,
main,
footer {
	display: flow-root;
}

h1 {
	font-size: 3em;
	margin: 0.3em;
}

h2 {
	text-align: center;
}

h4 {
	margin-bottom: 0.5em;
	font-weight: normal;
}

p {
	margin-top: 0;
}

.header__heading,
.footer {
	text-align: center;
}

.footer {
	padding: 1em 0;
}

.footer > p {
	font-size: 0.8em;
	margin: 1em 0;
}